/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f2f2f2; /* Light gray background */
    color: #333; /* Dark gray text color */
    line-height: 1.6;
    text-align: center; /* Center align all text in body */
}

header {
    padding: 60px 20px;
    background-color: #ffffff; /* White background for the header */
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #555; /* Medium gray for the subheading */
}

/* Section Styles */
section {
    padding: 40px 20px;
    margin: 0; /* Remove margin to eliminate gaps */
    background-color: #ffffff; /* White background for sections */
}

/* Contact Section */
#contact p {
    font-size: 1.1em;
}

/* About Section */
#about {
    text-align: center; /* Center text in the about section */
}

#about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Recent Writings and Works Sections */
h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333; /* Dark gray for section titles */
}

/* Link Styles */
a {
    color: #007BFF; /* Link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline on hover for links */
}
