body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

section {
    padding: 50px 20px;
    text-align: center;
}

header {
    background-color: #ffffff;
    padding: 100px 20px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #555;
}

#contact {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
}

#contact a {
    font-weight: bold;
}

#about {
    background-color: #ffffff;
    padding: 50px 20px;
    margin-bottom: 20px;
}

#RecentWritings {
    background-color: #f4f4f4;
    padding: 50px 20px;
    margin-bottom: 20px;
}

.projects h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

#RecentWorks {
    background-color: #ffffff;
    padding: 50px 20px;
    margin-bottom: 20px;
}

.projects {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
