/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 0px;
}

header {
    background-color: #f4f4f4;
    padding: 80px 5px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

/* Contact Section */
#contact {
    background-color: #f4f4f4;
    padding: 0px 0px;
}

#contact a {
    font-weight: bold;
}

/* About Section */
#about {
    background-color: #f4f4f4;
    padding: 50px 20px;
}

/* Recent Writings Section */
#RecentWritings {
    background-color: #f4f4f4;
    padding: 50px 20px;
}

.projects h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

/* Recent Works Section */
#RecentWorks {
    background-color: #f4f4f4;
    padding: 50px 20px;
}
